*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin:10px 5px 5px 5px;
}

.data, .ladder{
	border-bottom: solid 1px #000;
}

.data{
	float: left;
	border: solid 0px #000;
	clear:none;
	padding-right:20px;
}

.ladder{
	float: left;
	margin-left : 5px;
	border: solid 0px #000;
	clear:none;
}

.price-chart{
	float: left;
	clear:none;
	width : 375px;
	height : 300px;
	margin-top:-4px;
	padding-right:20px;
}

.data table
{
	width: 250px;
	border-collapse: collapse;
}

.instrument_column_hover {
	background-color: #ccc;
}

.selected_instrument{
	background-color: black;
	color:#fff;
}
.instrumentTitle
{	

	background-color: #ccc;
    color: #6B635D;
    font-family: "Arial",sans-serif;
    font-size: 13px;   
    margin: 0px 0px 1px 0px;
    padding:3px 5px;
    text-align: left;
    vertical-align: bottom;
	width:240px;
}

td
{
	height: 24px;
	text-align: center;
	padding: 0 10px;
	vertical-align: middle;
	border-right: 1px solid #8f8882;
	white-space:nowrap;
}

.table_header
{
	height: 24px;
	text-align: center;
	background-color: #6B635D;;
	color: #FFF;
	vertical-align: middle;
	white-space: nowrap;
}

.status_img
{
	padding-right: 10px;
}

.choice_img
{
	padding-left: 5px;
}

.odd_row
{
	background-color: #eaeaea;
}

.even_row
{
	background-color: #FFF;
}

.instrument_column
{
	text-align: left;
	cursor:pointer;	
}

.sell_column
{
	color: #000;
	font-weight:bold;
	border-right:0px solid #000;
}

.buy_column
{
	color: #000;
	font-weight:bold;	
}

.spread_column
{
	padding-left: 30px;
	text-align: left;
	width: 55px;
	border: none;
}

.choice_market
{
	background: url("Star.png") no-repeat 10% 50%;
}

.sell_move
{
	background-color: #cc0000;
	color: #FFF;
}

.buy_move
{
	background-color: #0066FF;
	color: #FFF;
}

.hidden {
	display : none;
}

.pricingLadderTitle{
	border: 0px solid #8f8882;	
	background-color: black;
    color: #FFE100;
    font-family: "Arial",sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 0px 0px 1px 0px;
    padding:3px 5px;      
}

.pricingLadder table{
	border: 0px solid #000;
	width : 280px;
	border-collapse: collapse;
}
.pricingLadder
{
	border: 0px solid #000;	
}
