*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin:10px 5px 5px 5px;
}

.data, .ladder{
	border-bottom: solid 1px #000;
}

.data{
	float: left;
	border: solid 0px #000;
	clear:none;
	/*padding-right:10px;*/
}

.ladder{
	float: left;
	border: solid 0px #000;
	clear:none;
	
}

.price-chart{
	float: left;
	clear:none;
	width : 210px!important;
	height : 240px;
	/*margin-top:-6px;*/
	position:relative;
}

.price-chart-container{
	float: left;
	clear:none;
	width : 269px!important;
	height : 240px;
	/*margin-top:-6px;*/
	position:relative;
	background: url(../images/chart-background.gif) repeat-x scroll left bottom transparent;
}

.price-chart-ticks{
	float: left;
	clear:none;
	width : 40px!important;
	height : 240px;
	/*margin-top:-6px;*/
	border-left: 1px solid #6B635D;
	position:relative;
}

.ladderContainer
{
	float: left;
	margin-left : 11px;
	border: solid 0px #000;
	clear:none;
	margin-right:0px;
	padding-right:0px;
	width: 200px;
}
.data table
{
	width: 192px;
	border-collapse: collapse;
}

.instrument_column_hover td {
	background-color: #ccc;
}

.selected_instrument td{
	background-color: black;
	color:#fff;
}
.instrumentTitle
{	

	background-color: #D5D0CD;
    color: #6B635D;
    font-family: "Arial",sans-serif;
    font-size: 14px;   
    margin: 0px 0px 1px 0px;
    padding:3px 5px;
    text-align: left;
    vertical-align: bottom;
	width:182px;
	height: 17px;
}


td {
    height: 24px;
    padding: 0 10px;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    border-right: 1px solid #8f8882;
    font-size:12px;
}

.table_header
{
	height: 24px;
	text-align: center;
	background-color: #6B635D;;
	color: #FFF;
	vertical-align: middle;
	white-space: nowrap;
	font-size:12px!important;
}

.status_img
{
	padding-right: 10px;
}

.choice_img
{
	padding-left: 5px;
}

.odd_row
{
	background-color: #eaeaea;
}

.even_row
{
	background-color: #FFF;
}

.instrument_column
{
	text-align: left;
	cursor:pointer;	
}

.sell_column
{
	border-right:0px solid #000;
}

.buy_column
{
	text-align: left;
}

.price_column
{
	padding : 0px 10px 0px 10px;
	text-align: right;
	width:100px!important;
}

.buy_column, .sell_column 
{
	color: #000;
	font-weight:bold;	
}

.spread_column
{
	/*padding-left: 30px;*/
	text-align: left;
	width: 15px;
	border: none;
	cursor:pointer;	
}

.choice_market
{
	background: url(../images/Star.png) no-repeat 10% 50%;
}

.sell_move
{
	background-color: #cc0000;
	color: #FFF;
}

.buy_move
{
	background-color: #0066FF;
	color: #FFF;
}

.hidden {
	display : none;
}

.pricingLadderTitle{
	border: 0px solid #8f8882;	
	background-color: black;
    color: #FFE100;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 1px 0px;
    padding:3px 5px;     
    height: 17px; 
}

.pricingLadder table{
	border: 0px solid #000;
	width : 200px;
	border-collapse: collapse;
}
.pricingLadder table .best_price_row td
{
	border-bottom:1px solid #fff;
}
.pricingLadder
{
	border: 0px solid #000;	
}

.point {
	float:left;
	position:absolute;
	background-color: green;
	width:3px;
	height:3px;
}

.tick-label{
	position:absolute;
	left:3px;
	width:38px;
	text-align:left;
	height:10px;
	font-size:12px;
}

.line {
	position:absolute;
	left:2px;
	text-align:left;
	height:2px;
	background-color:#f4f4f4;
	margin-left:-2px;
}

.chartTitle{
	border: 0px solid #8f8882;	
	background-color: black;
    color: #FFE100;
    font-family: "Arial",sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 1px 0px;
    padding:3px 5px;      
}

.chartRightHeader{
	float:right;
	color: white; 
	font-family:Arial; 
	font-size: 14px;
	font-weight: normal;
}

.box{
	background-color:blue;    
	border: 1px solid white;
	display: inline-block;
	height: 0.9em;
	margin-right: 0.2em;
	vertical-align: top;
	width:0.8em;
	font-size:14px!important;
}

.blueBox
{
	background-color: #0066FF;
}

.redBox
{
	background-color: #CC0000;
	margin-left:15px;
}

.best_price_row {
    background-color: #FFF080;
}

.container {
	height: 288px; 
	width: 682px;
	padding:0px 0px 0px 0px;
	
}

.log_container {
	width: 1000px; 
	margin: auto; 
	float:left; 
	padding: 20px 0px 0px 10px;
}

.chart {
	width:269px;
	padding:0px; 
	margin:0px 0px 0px 10px;
	float:left;
	display:none;
}

.greenColor {
	color : #00c000;
}


